<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${pokemon.getSpecies().getNameJp()}">ポケモン図鑑</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<header>
  <h1>ポケモン図鑑</h1>
</header>
<main>
  <form action="/search" method="get">
    <input type="text" id="search" name="id" placeholder="図鑑番号でポケモンを検索">
    <button class="search-button" type="submit">検索</button>
  </form>
  <br>
  <div class="pokedex-entry">
    <img th:src="${pokemon.getBase().getOfficialArtwork()}" th:alt="${pokemon.getBase().getName()}">
    <h2 th:text="${pokemon.getSpecies().getNameJp()}">ピカチュウ</h2>
    <p>でんきタイプのポケモン。</p>
    <button class="modal-button" data-flavor="flavor1" th:text="${pokemon.getSpecies().getFlavorTextVersion()} + の図鑑説明">図鑑説明</button>
    <button class="modal-button" data-flavor="flavor2">シリーズ2のフレーバーテキスト</button>
  </div>
</main>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="flavor1" class="flavor-text" th:text="${pokemon.getSpecies().getFlavorText()}">
      ピカチュウは、頬に電気をためている。\n怒るときに電気を放出する。
    </div>
    <div id="flavor2" class="flavor-text">
      ピカチュウは非常に友好的で、ほかのポケモンやトレーナーとすぐに仲良くなる。
    </div>
  </div>
</div>
<script th:src="@{/javascript/script.js}"></script>
</body>
</html>
